:root {
    --dark-blue: #0d0c37;
    --cyan: #31f3f2;
    --dark-red: #952144;
    --red: #ff044b;
    --black: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../public/voxnetbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


#header {
    color: var(--cyan);
    font-size: 30px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Pixelify Sans", sans-serif;
}

#header h6 {
    color: white;
}

#voxnet-form {
    background-color: var(--dark-blue);
    color: var(--cyan);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#voxnet-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

#voxnet-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

#voxnet-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

#submit {
    background-color: var(--red);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.1em;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: var(--dark-red);
}

button {
    display: block;
    width: 600px;
    margin: 20px auto;
    background-color: transparent;
    border: 1px solid var(--red);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3 ease;
}

button:hover {
    background-color: var(--red);
    color: var(--black);
}

@keyframes pisca-pisca {
    0% {
        color: var(--red);
        text-shadow: 0 0 10px var(--red), 0 0 20px var(--dark-red);
    }

    50% {
        color: var(--cyan);
        text-shadow: 0 0 10px var(--cyan), 0 0 20px var(--dark-blue);
    }

    100% {
        color: var(--red);
        text-shadow: 0 0 10px var(--red), 0 0 20px var(--dark-red);
    }
}

h10 {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    animation: pisca-pisca 2s ease-in-out infinite alternate;
}